##############################
####    .editorconfig     ####
####  @version 01702.0.0  ####
##############################

#@doc https://editorconfig.org/
#@doc https://github.com/editorconfig/editorconfig-vscode?tab=readme-ov-file#supported-properties

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ics,cmd,bat,reg}]
end_of_line = crlf

[*.{txt,ini,csv,tsv}]
indent_style = unset

[*,{csv,tsv}]
indent_size = 4
