* text=auto

*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ics,[iI][cC][sS]} text eol=crlf
*.sh text eol=lf
*.bash_profile text eol=lf
*.bashrc text eol=lf
*.bash_aliases text eol=lf

*.gitattributes text eol=lf
*.gitconfig text eol=lf
*.gitignore text eol=lf
*.git-credentials text eol=lf
LICENSE text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.npmrc text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.cts text eol=lf
*.mts text eol=lf
*.tsx text eol=lf
*.svelte text eol=lf
*.html text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.csv text eol=lf
*.tsv text eol=lf
*.ps1 text eol=lf
*.psm1 text eol=lf
*.psd1 text eol=lf
*.claspignore text eol=lf
*.funcignore text eol=lf
*.py text eol=lf
*.jinja text eol=lf
*.example text eol=lf
*.code-snippets text eol=lf
