##############################
####      .gitignore      ####
####       v251.0.0       ####
##############################

#DOC: https://git-scm.com/docs/gitignore

#region Folder (Root)
# Build
/dist/
/build/
/built/
/bundle/
/bundled/
/pack/
/packed/
/declaration/
# Env
/dist-tests/
/in/
/input/
/out/
/output/
#endregion


#region Folder
# Build
.svelte-kit/
# Install
node_modules/
# Env
.vscode/**
!.vscode/**/*.code-snippets
# Apple Detritus
.Trash/
#endregion


#region File (Root)
#endregion


#region File
# Build
*.tsbuildinfo
# Install
.yarn-integrity
# Env
*.env
*.env.*
!*.env.example
*.eslintcache
*.log
# Apple Detritus
*.DS_Store
*.icloud
.blink*
#endregion


#region {CONFIGURE}
#endregion
