##############################
##############################
########    .npmrc    ########
##############################
##############################

# v10.0.0-project.0

# https://docs.npmjs.com/cli/v10/using-npm/config#config-settings

preid=rc
