##############################
##############################
########    .npmrc    ########
##############################
##############################

# Flavor: project
# Version: 10.3.0

# https://docs.npmjs.com/cli/v10/using-npm/config#config-settings

preid=rc
